//
@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600);
@import 'pageload';
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.no-gutter [class*="-6"] {
    padding-left:0 !important;
    padding-right:0 !important;
}

body {
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    outline: none;
}

.sline {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sline:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sline:hover:after {
    width: 100%;
    background: #000;
}

/* Demo colors */
.demo-1 { background: #fff; }
.demo-1 a { color: #126cba; }


a:hover, a:focus {
    color: #fff;
}

section {
    padding: 1em;
    text-align: center;
}
.ip-loader{
    display: none;
}
.lb-outerContainer{
    background-color: rgba(0,0,0,0.1) !important;
}

/* Device specific */
@import 'device';


/*Added styles*/
$fbcolor: #3B5998;
$twcolor: #0084b4;
$ter-color:#FFC125;

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.35);
    background-position: -10% 0;
}
.overlay-f{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.10);
    background-position: -10% 0;
}
#circlelogo{
    padding-left: 3px;
}
#textlogo{
    width: 25%;
    margin-top: 20px;
    margin-bottom: 30px;
}
#ip-incont{
    margin-top: 30px;
    font-size: 20px;
    width: 60%;
    text-align: center;
    font-family: 'Raleway', Arial, sans-serif;

}
.text-center{
    text-align: center;
}
.ter-color{
    color: $ter-color;
}

.navigation{
    margin-top: 60px;
    margin-bottom: 60px;
    .nav{
        padding-left: 11px;
        font-size: 16px;
        a{
            color: #aaa;
            -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
            transition: color 0.5s;
            -moz-transition: color 0.5s;
            -o-transition: color 0.5s;
        }
        a:hover{
            color: #000;
        }
        a:first-child{
            margin-right: 20px;
        }
        a:nth-child(2){
            margin-left: 20px;
        }
    }
}

.totalheight{
    height: 460px;
    .categoryname{
        text-transform: uppercase;
        font-size: 30px;
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 200;
        -webkit-transition: bottom 0.2s; /* For Safari 3.1 to 6.0 */
        transition: bottom 0.2s;
    }
    .docs-cat-text{
        line-height: 20px;
        padding-bottom: 12px;
        .amphersant{
            text-transform: uppercase;
            font-size: 15px;
            text-align: center;
            color: #fff;
            font-weight: 600;
        }
    }
    .transparent-fa{
        height: 100%;
    }
    .transparent{
        width: 100%;
        height: 100%
    }
    #fashion,#profile,#travel,#industrial,#interior{
        padding: 0px;
    }
    #fashion{
        background:url('../img/thumbs/fashion.jpg') no-repeat; background-size: cover;
        background-position: 40% 0%;
    }
    #profile{
        background:url('../img/thumbs/profile.jpg') no-repeat; background-size: cover;
        background-position: center;
        .categoryname{
            letter-spacing: 1px;
        }
    }
    #travel{
        background:url('../img/thumbs/travel.jpg') no-repeat; background-size: cover;
        background-position: center;
        .categoryname{
            letter-spacing: 2px;
        }
    }
    #industrial{
        background:url('../img/thumbs/docs.jpg') no-repeat; background-size: cover;
        background-position: center;
    }
    #interior{
        background:url('../img/thumbs/interior.jpg') no-repeat; background-size: cover;
        background-position: center;
        .categoryname{
            letter-spacing: 1px;
            line-height: 20px;
            padding-bottom: 12px;
            .amphersant{
                text-transform: uppercase;
                font-size: 15px;
                text-align: center;
                color: #fff;
                font-weight: 600;
            }
        }
    }


} //total height ends
/*styles for 'photography' text */
.subhead{
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    -webkit-transition: bottom 0.2s; 
    -o-transition: bottom 0.2s;
    -moz-transition: bottom 0.2s;
    transition: bottom 0.2s;

}	
.intr-p{letter-spacing: 2px;}
.indus-p{letter-spacing: 6px; padding-left: 6px;}
.prof-p{letter-spacing: 0.5px;}
.trav-p{letter-spacing: 1px;}
.doc-p{letter-spacing: 7px;padding-left: 2.3px;}
.fash-p{letter-spacing: 1.2px;margin-left: -0.15px;}
.cat-travel{letter-spacing:2px;}
.cat-fashion{letter-spacing:0.8px;}


.overlay:hover {
    background-size: 200%;
    .subhead{
        bottom: 20px;
    }
    .categoryname{
        bottom: 30px;
    }
}
.overlay-f:hover {
    background-size: 200%;
    .subhead{
        bottom: 20px;
    }
    .categoryname{
        bottom: 30px;
    }
}



.sameheight{
    height: 230px;
}

.about{
    .head{
        font-size: 28px;
        font-weight: 400; 
        color: #000;
        letter-spacing: 10px;
    }
    p{
        margin-top: 35px;
        letter-spacing: 3px;
    }
}
.form-section{
    margin-top: 30px;
}
.form-button a{
    color: #fff;
    font-size: 12px !important;
    text-transform: uppercase;
}
.footer{
    height: 165px;
    background-color: #333;
    color: #fff;
    padding: 30px 0px;

    a{
        color: #fff;
    }
    .social{
        height: 100px;
        border-right: 1px solid #555;
        .pholder{
            padding-top: 12px;
            font-weight: 200;
            font-size: 20px;
        }
    }
    .fa{
        font-size: 30px;
        padding: 5px 10px;
        -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
        transition: color 0.5s;
        -moz-transition: color 0.5s;
        -o-transition: color 0.5s;
    }

    .fa-facebook:hover{
        color: $fbcolor;
    }
    .fa-twitter:hover{
        color: $twcolor;
    }
    .misc{
        height: 100px;
        border-right: 1px solid #555;
        #pclink{
        }
        .pclink{
            font-weight: 200;
            font-size: 25px;
        }
        .pclink:hover{
            color: $ter-color;
        }

        .vklink{
            font-size: 20px;
        }
    }
    .vk{
        padding-top: 30px;
    }
    .links{
        height: 100px;
        border-right: 1px solid #555;
        padding-top: 30px;
    }
    .credits{ 
        p{
            color: #ccc;
            font-size: 12px;
        }
    }
    .releveant{
        font-size: 10px;
        color: #ccc;
        margin: 0px;
    }
    .pc-logo{
        display: block;
        margin: 0px auto;
        width: 65px;
        height: 50px;
        margin-bottom: -1px;
    }
}
#contact{
    .textinfo{
        margin-top: 35px;
        margin-bottom: 50px;
    }
    .name{
        font-weight: 700;
    }
    .ph-no{
        font-family: sans-serif;
        color: #666;
    }
}

//categories page styles
.cat-page{
    .cat-nav{
        a{
            color: #bbb;
        }
        .active{
            color: #333;
        }
        margin-bottom: 40px;
    }
    .cat-subhead{
        text-transform: uppercase;
        font-size: 15px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 600;
        margin-top: -30px;
    }
    .fash-p{
        padding-left: 2px;
        letter-spacing: 5.3px;
    }
    .prof-p{
        padding-left: 5px;
        letter-spacing: 4.5px;
    }
    .catg-name{
        padding-top: 20px;
        color: #fff;
        font-weight: 200;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    #container{
        margin: 0 auto;
        position: relative;
    }
    .item {
        width: 220px;
        margin: 5px;
    }
    .fas{
        padding: 10px;
        background-color: #333;
    }
}
.profile-category{
    .item{
        border: 1px solid #ccc;
    }
    .stamp{
        position: absolute;
        left: 35%;
        top:10%;
        width: 500px;
        height: 500px;
        border: 1px solid #333;
    }
}
.interior-category{
    .sline {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    .sline:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
        -o-transition: width .5s ease, background-color .5s ease;
        -webkit-transition: width .5s ease, background-color .5s ease;
        -moz-transition: width .5s ease, background-color .5s ease;
    }
    .sline:hover:after {
        width: 100%;
        background: #fff;
    }
    .item{
        width: 300px;
        height: 150px;
    }
    .no-subhead{
        padding-top: 30px;
    }
    margin-bottom: 40px;
}
.int-sub-cat{
    padding-bottom: 40px;
    .catg-name{
        font-size: 25px;
    }
    .other{
        font-size: 12px;
        padding-top: 0px;
    }
    .lift:hover{
        padding-bottom: 2px;
        border-bottom: 1px solid #fff;
    }
}

//categories header design
.cat-header{
    margin-bottom: 45px;
    .centered{
        display: block;
        margin: 0px auto;
    }

    .cat-logo{
        margin-top: 30px;
        width: 5%;
    }
    #textlogo{
        width: 15%;
    }
}
.cat-nav{
    margin-top: 20px;
    a{
        -webkit-transition: color 0.2s; /* For Safari 3.1 to 6.0 */
        transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
    }
    a:hover{
        color: #000;
    }
}

/* logo animation */
.index{
    .circlogo {
        -webkit-animation:spin 15s linear infinite;
        -moz-animation:spin 15s linear infinite;
        animation:spin 15s linear infinite;
    }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
